@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  background-color: #CBE4DE;
}

.web-title {
  font-family: "Michroma", sans-serif;
  font-size: 2rem;
  color: #CBE4DE;
  text-shadow: 1px 1px #0E8388;
}

.bg-gradient {
  background: #0E8388 !important;
}

/* START BUTTONS CSS */
.historial {
  font-weight: bold;
}

.pushable {
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 1px;
}

.company-name {
  color: #CBE4DE;
}

.front {
  display: block;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1.25rem;
  background: #2E4F4F;
  color: #CBE4DE;
  transform: translateY(-3px) translateX(-1px);
}

.pushable:active .front {
  transform: translateY(-1px) translateX(-1px);
}

.btn-danger {
  color: #CBE4DE;
  background-color: #2C3333;
  border: 1px #2E4F4F;
}
.btn-danger:hover {
  background-color: #2E4F4F;
  border: 1px #2C3333;
}

.btn-dark {
  color: #CBE4DE;
  background-color: #2C3333;
  border: 1px #2E4F4F;
}
.btn-dark:hover {
  background-color: #2E4F4F;
  border: 1px #2C3333;
}

/* END BUTTONS CSS */
.form-container {
  max-width: 500px;
  background-color: #2C3333;
}

.uppercase {
  text-transform: uppercase;
}

a {
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}
button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  background: #2C3333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #2C3333;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table thead tr {
  height: 60px;
  background: #2E4F4F;
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

.table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #CBE4DE;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #2E4F4F;
}
tbody tr:nth-child(even):hover {
  background-color: #0E8388;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #CBE4DE;
  line-height: 1.2;
  font-weight: bold;
  background-color: #2E4F4F;
}

tbody tr:hover {
  color: #CBE4DE;
  background-color: #0E8388;
  font-weight: bold;
  cursor: pointer;
}

.column1 {
  width: 200px;
  text-align: center;
}

.column2 {
  width: 200px;
  text-align: center;
}

.column3 {
  width: 200px;
  text-align: center;
}

.column4 {
  width: 200px;
  text-align: center;
}

.column5 {
  width: 200px;
  text-align: center;
}

.column6 {
  width: 200px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Nombre";
  }
  table tbody tr td:nth-child(2):before {
    content: "Capital";
  }
  table tbody tr td:nth-child(3):before {
    content: "Monto";
  }
  table tbody tr td:nth-child(4):before {
    content: "Intereses";
  }
  table tbody tr td:nth-child(5):before {
    content: "Dias";
  }
  table tbody tr td:nth-child(6):before {
    content: "Renovacion";
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }
  tbody tr {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .front {
    padding: 8px 16px;
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=style.css.map */