$bg-color: #EEEEEE;
$btn-color1: #222831;
$btn-color2: #393E46;

$nav-bar-color: #393E46;
$nav-bar-font-color: #FFD369;
$font-color: #FFD369;
$font-shadow: #222831;

$table-hover-color: #222831;
$web-title-color: #222831;

// SLIDER
$h: 25px;
$animationSpeed: 20s;